[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "home/.vim/bundle/phpclassexplorer"]
	path = home/.vim/bundle/phpclassexplorer
	url = https://github.com/nelsonsar/phpclassexplorer
[submodule "home/.vim/bundle/phpcomplete.vim"]
	path = home/.vim/bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim
[submodule "home/.vim/bundle/tabline.vim"]
	path = home/.vim/bundle/tabline.vim
	url = https://github.com/mkitt/tabline.vim
[submodule "home/.vim/bundle/tmuxline.vim"]
	path = home/.vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "home/.vim/bundle/vim-gitgutter"]
	path = home/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "home/.vim/bundle/vim-json"]
	path = home/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "home/.vim/bundle/vim-nerdtree-tabs"]
	path = home/.vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "home/.vim/bundle/vim-twig"]
	path = home/.vim/bundle/vim-twig
	url = https://github.com/evidens/vim-twig
